<div id="wrapper">
	
<nav class="navbar navbar-expand-lg navbar-dark">
<a class="navbar-brand" href="#"><img src="../../assets/imgs/logo.png"></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/signup']">JOIN US TODAY </a>
  </li>
   <li class="">
    <a class="nav-link text-white">|</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/login']">LOG IN</a>
  </li>
</ul>
</div>
</nav>

	
  		<div class="centerDiv">
  			<h1 align="center">ALL YOUR ENTAERTAINTMENT IN ONE PLACE</h1>
  			<hr>
  			<p align="center">Enjoy exclusive ITV Originals as well as popular movies and TV shows. With plans starting <BR><span class="text-danger">at $3.99/month.</span><BR>
Movies, Tv shows, kids, Music</p>

			<a class="btn btn-danger" [routerLink]="['/signup']">JOIN TODAY</a>
  		</div>
	
	
	 

</div>